<section class="featured-section pt-4">
<div class="container">
    <div class="row">
        <div class="col-4">
          <a  href="#">LATEST PRODUCTS</a>
            <div class="row product align-items-center">
                <div class="col-6">
                    <a href="">
                        <img src="/img/products/1.jpg" alt="">
                    </a>
                </div>
                <div class="col-6 p-0 ">
                        <h4 cl>Name of product</h4>
                        <span>18.00 - 45.00</span>
                </div>   
            </div>
           
        
            <div class="row product align-items-center">
                <div class="col-6 ">
                    <a href="">    
                        <img src="/img/products/2.jpg" alt="">
                    </a> 
                </div>
                <div class="col-6 p-0">     
                    <h4>Name of product</h4>
                    <span>18.00 - 45.00</span>
                </div>
            </div>
                
            <div class="row product align-items-center">
                <div class="col-6">
                    <a href="">    
                        <img src="/img/products/2.jpg" alt="">
                    </a> 
                </div>
                <div class="col-6 p-0">     
                    <h4>Name of product</h4>
                    <span>18.00 - 45.00</span>
                </div>
            </div>



<!-- close of column -->
        </div>

        <div class="col-4">
                <a  href="#">FEATURED PRODUCTS</a>
                <div class="row product align-items-center">
                        <div class="col-6">
                            <a href="">
                                <img src="/img/products/1.jpg" alt="">
                            </a>
                        </div>
                        <div class="col-6 p-0 ">
                                <h4 cl>Name of product</h4>
                                <span>18.00 - 45.00</span>
                        </div>   
                    </div>
                   
                
                    <div class="row product align-items-center">
                        <div class="col-6 ">
                            <a href="">    
                                <img src="/img/products/2.jpg" alt="">
                            </a> 
                        </div>
                        <div class="col-6 p-0">     
                            <h4>Name of product</h4>
                            <span>18.00 - 45.00</span>
                        </div>
                    </div>
                        
                    <div class="row product align-items-center">
                        <div class="col-6">
                            <a href="">    
                                <img src="/img/products/2.jpg" alt="">
                            </a> 
                        </div>
                        <div class="col-6 p-0">     
                            <h4>Name of product</h4>
                            <span>18.00 - 45.00</span>
                        </div>
                    </div>
    
    
<!-- close of column -->               
        </div>

        <div class="col-4">
                <a href="#">ON SALE</a>
                <div class="row product align-items-center">
                        <div class="col-6">
                            <a href="">
                                <img src="/img/products/1.jpg" alt="">
                            </a>
                        </div>
                        <div class="col-6 p-0 ">
                                <h4 cl>Name of product</h4>
                                <span>18.00 - 45.00</span>
                        </div>   
                    </div>
                   
                
                    <div class="row product align-items-center">
                        <div class="col-6 ">
                            <a href="">    
                                <img src="/img/products/2.jpg" alt="">
                            </a> 
                        </div>
                        <div class="col-6 p-0">     
                            <h4>Name of product</h4>
                            <span>18.00 - 45.00</span>
                        </div>
                    </div>
                        
                    <div class="row product align-items-center">
                        <div class="col-6">
                            <a href="">    
                                <img src="/img/products/2.jpg" alt="">
                            </a> 
                        </div>
                        <div class="col-6 p-0">     
                            <h4>Name of product</h4>
                            <span>18.00 - 45.00</span>
                        </div>
                    </div>
    
<!-- close of column -->
        </div>
               
           
    
    
    
    
<!-- Close row and container -->
    </div>
</div>

</section>