<section class="featured-section pt-4">
    <div class="container">
        <div class="row">





            <div class="col-md-4 col-sm-12 ">
                <a href="#" class="p-2">LATEST PRODUCTS</a>
                <div class="row">
                    <div class="col-1 align-self-center">
                        <a class="carousel-control-prev " href="#carouselLastest" role="button" data-slide="prev">
                            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                            <span class="sr-only">Previous</span>
                        </a>

                    </div>


                    <div class="col-10">
                        <!-- vidiniai -->



                        <!-- kvadraciukai karuselei -->

                        <div id="carouselLastest" class="carousel slide" data-ride="carousel">
                            <ol class="carousel-indicators">
                                <li data-target="#carouselLastest" data-slide-to="0" class="active"></li>
                                <li data-target="#carouselLastest" data-slide-to="1"></li>
                                <li data-target="#carouselLastest" data-slide-to="2"></li>
                            </ol>
                            <div class="carousel-inner ">


                                <div class="carousel-item active">



                                    <div class="row product align-items-center">
                                        <div class="col-6">
                                            <a href="">
                                                <img src="/img/products/1.jpg" alt="">
                                            </a>
                                        </div>
                                        <div class="col-6 p-0 ">
                                            <h4 cl>Name of product</h4>
                                            <span>18.00 - 45.00</span>
                                        </div>
                                    </div>

                                    <div class="row product align-items-center">
                                        <div class="col-6">
                                            <a href="">
                                                <img src="/img/products/1.jpg" alt="">
                                            </a>
                                        </div>
                                        <div class="col-6 p-0 ">
                                            <h4 cl>Name of product</h4>
                                            <span>18.00 - 45.00</span>
                                        </div>
                                    </div>

                                    <div class="row product align-items-center">
                                        <div class="col-6">
                                            <a href="">
                                                <img src="/img/products/1.jpg" alt="">
                                            </a>
                                        </div>
                                        <div class="col-6 p-0 ">
                                            <h4 cl>Name of product</h4>
                                            <span>18.00 - 45.00</span>
                                        </div>
                                    </div>


                                </div>


                                <!-- one finish -->
                                <div class="carousel-item">
                                    <div class="row product align-items-center">
                                        <div class="col-6">
                                            <a href="">
                                                <img src="/img/products/6.jpg" alt="">
                                            </a>
                                        </div>
                                        <div class="col-6 p-0 ">
                                            <h4 cl>Name of product</h4>
                                            <span>18.00 - 45.00</span>
                                        </div>
                                    </div>

                                    <div class="row product align-items-center">
                                        <div class="col-6">
                                            <a href="">
                                                <img src="/img/products/1.jpg" alt="">
                                            </a>
                                        </div>
                                        <div class="col-6 p-0 ">
                                            <h4 cl>Name of product</h4>
                                            <span>18.00 - 45.00</span>
                                        </div>
                                    </div>

                                    <div class="row product align-items-center">
                                        <div class="col-6">
                                            <a href="">
                                                <img src="/img/products/1.jpg" alt="">
                                            </a>
                                        </div>
                                        <div class="col-6 p-0 ">
                                            <h4 cl>Name of product</h4>
                                            <span>18.00 - 45.00</span>
                                        </div>
                                    </div>
                                </div>
                                <!-- second finish -->

                                <div class="carousel-item">
                                    <div class="row product align-items-center">
                                        <div class="col-6">
                                            <a href="">
                                                <img src="/img/products/5.jpg" alt="">
                                            </a>
                                        </div>
                                        <div class="col-6 p-0 ">
                                            <h4 cl>Name of product</h4>
                                            <span>18.00 - 45.00</span>
                                        </div>
                                    </div>

                                    <div class="row product align-items-center">
                                        <div class="col-6">
                                            <a href="">
                                                <img src="/img/products/1.jpg" alt="">
                                            </a>
                                        </div>
                                        <div class="col-6 p-0 ">
                                            <h4 cl>Name of product</h4>
                                            <span>18.00 - 45.00</span>
                                        </div>
                                    </div>

                                    <div class="row product align-items-center">
                                        <div class="col-6">
                                            <a href="">
                                                <img src="/img/products/1.jpg" alt="">
                                            </a>
                                        </div>
                                        <div class="col-6 p-0 ">
                                            <h4 cl>Name of product</h4>
                                            <span>18.00 - 45.00</span>
                                        </div>
                                    </div>
                                </div>
                            </div>



                        </div>




                    </div>

                    <div class="col-1 align-self-center">

                        <a class="carousel-control-next " href="#carouselLastest" role="button" data-slide="next">
                            <span class="carousel-control-next-icon" aria-hidden="true"></span>
                            <span class="sr-only">Next</span>
                        </a>

                    </div>


                    <!-- strelytes karuselei -->



                </div>




                <!-- container close and row -->
            </div>




            <!-- dar column -->
            <div class="col-md-4 col-sm-12 ">
                <a href="#" class="p-2">Most popular products</a>
                <div class="row">
                    <div class="col-1 align-self-center">
                        <a class="carousel-control-prev " href="#carouselPopular" role="button" data-slide="prev">
                            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                            <span class="sr-only">Previous</span>
                        </a>

                    </div>


                    <div class="col-10">
                        <!-- vidiniai -->



                        <!-- kvadraciukai karuselei -->

                        <div id="carouselPopular" class="carousel slide" data-ride="carousel">
                            <ol class="carousel-indicators">
                                <li data-target="#carouselPopular" data-slide-to="0" class="active"></li>
                                <li data-target="#carouselPopular" data-slide-to="1"></li>
                                <li data-target="#carouselPopular" data-slide-to="2"></li>
                            </ol>
                            <div class="carousel-inner ">


                                <div class="carousel-item active">



                                    <div class="row product align-items-center">
                                        <div class="col-6">
                                            <a href="">
                                                <img src="/img/products/1.jpg" alt="">
                                            </a>
                                        </div>
                                        <div class="col-6 p-0 ">
                                            <h4 cl>Name of product</h4>
                                            <span>18.00 - 45.00</span>
                                        </div>
                                    </div>

                                    <div class="row product align-items-center">
                                        <div class="col-6">
                                            <a href="">
                                                <img src="/img/products/1.jpg" alt="">
                                            </a>
                                        </div>
                                        <div class="col-6 p-0 ">
                                            <h4 cl>Name of product</h4>
                                            <span>18.00 - 45.00</span>
                                        </div>
                                    </div>

                                    <div class="row product align-items-center">
                                        <div class="col-6">
                                            <a href="">
                                                <img src="/img/products/1.jpg" alt="">
                                            </a>
                                        </div>
                                        <div class="col-6 p-0 ">
                                            <h4 cl>Name of product</h4>
                                            <span>18.00 - 45.00</span>
                                        </div>
                                    </div>


                                </div>


                                <!-- one finish -->
                                <div class="carousel-item">
                                    <div class="row product align-items-center">
                                        <div class="col-6">
                                            <a href="">
                                                <img src="/img/products/6.jpg" alt="">
                                            </a>
                                        </div>
                                        <div class="col-6 p-0 ">
                                            <h4 cl>Name of product</h4>
                                            <span>18.00 - 45.00</span>
                                        </div>
                                    </div>

                                    <div class="row product align-items-center">
                                        <div class="col-6">
                                            <a href="">
                                                <img src="/img/products/1.jpg" alt="">
                                            </a>
                                        </div>
                                        <div class="col-6 p-0 ">
                                            <h4 cl>Name of product</h4>
                                            <span>18.00 - 45.00</span>
                                        </div>
                                    </div>

                                    <div class="row product align-items-center">
                                        <div class="col-6">
                                            <a href="">
                                                <img src="/img/products/1.jpg" alt="">
                                            </a>
                                        </div>
                                        <div class="col-6 p-0 ">
                                            <h4 cl>Name of product</h4>
                                            <span>18.00 - 45.00</span>
                                        </div>
                                    </div>
                                </div>
                                <!-- second finish -->

                                <div class="carousel-item">
                                    <div class="row product align-items-center">
                                        <div class="col-6">
                                            <a href="">
                                                <img src="/img/products/5.jpg" alt="">
                                            </a>
                                        </div>
                                        <div class="col-6 p-0 ">
                                            <h4 cl>Name of product</h4>
                                            <span>18.00 - 45.00</span>
                                        </div>
                                    </div>

                                    <div class="row product align-items-center">
                                        <div class="col-6">
                                            <a href="">
                                                <img src="/img/products/1.jpg" alt="">
                                            </a>
                                        </div>
                                        <div class="col-6 p-0 ">
                                            <h4 cl>Name of product</h4>
                                            <span>18.00 - 45.00</span>
                                        </div>
                                    </div>

                                    <div class="row product align-items-center">
                                        <div class="col-6">
                                            <a href="">
                                                <img src="/img/products/1.jpg" alt="">
                                            </a>
                                        </div>
                                        <div class="col-6 p-0 ">
                                            <h4 cl>Name of product</h4>
                                            <span>18.00 - 45.00</span>
                                        </div>
                                    </div>
                                </div>
                            </div>



                        </div>




                    </div>

                    <div class="col-1 align-self-center">

                        <a class="carousel-control-next " href="#carouselExampleIndicators" role="button"
                            data-slide="next">
                            <span class="carousel-control-next-icon" aria-hidden="true"></span>
                            <span class="sr-only">Next</span>
                        </a>

                    </div>


                    <!-- strelytes karuselei -->



                </div>




                <!-- container close and row -->
            </div>
            <!-- end dar column -->



            <!-- dar column -->

            <div class="col-md-4 col-sm-12 ">
                <a href="#" class="p-2">LATEST PRODUCTS</a>
                <div class="row">
                    <div class="col-1 align-self-center">
                        <a class="carousel-control-prev " href="#carouselExampleIndicators" role="button"
                            data-slide="prevLastest">
                            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                            <span class="sr-only">Previous</span>
                        </a>

                    </div>


                    <div class="col-10">
                        <!-- vidiniai -->



                        <!-- kvadraciukai karuselei -->

                        <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
                            <ol class="carousel-indicators">
                                <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
                                <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
                                <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
                            </ol>
                            <div class="carousel-inner ">


                                <div class="carousel-item active">



                                    <div class="row product align-items-center">
                                        <div class="col-6">
                                            <a href="">
                                                <img src="/img/products/1.jpg" alt="">
                                            </a>
                                        </div>
                                        <div class="col-6 p-0 ">
                                            <h4 cl>Name of product</h4>
                                            <span>18.00 - 45.00</span>
                                        </div>
                                    </div>

                                    <div class="row product align-items-center">
                                        <div class="col-6">
                                            <a href="">
                                                <img src="/img/products/1.jpg" alt="">
                                            </a>
                                        </div>
                                        <div class="col-6 p-0 ">
                                            <h4 cl>Name of product</h4>
                                            <span>18.00 - 45.00</span>
                                        </div>
                                    </div>

                                    <div class="row product align-items-center">
                                        <div class="col-6">
                                            <a href="">
                                                <img src="/img/products/1.jpg" alt="">
                                            </a>
                                        </div>
                                        <div class="col-6 p-0 ">
                                            <h4 cl>Name of product</h4>
                                            <span>18.00 - 45.00</span>
                                        </div>
                                    </div>


                                </div>


                                <!-- one finish -->
                                <div class="carousel-item">
                                    <div class="row product align-items-center">
                                        <div class="col-6">
                                            <a href="">
                                                <img src="/img/products/6.jpg" alt="">
                                            </a>
                                        </div>
                                        <div class="col-6 p-0 ">
                                            <h4 cl>Name of product</h4>
                                            <span>18.00 - 45.00</span>
                                        </div>
                                    </div>

                                    <div class="row product align-items-center">
                                        <div class="col-6">
                                            <a href="">
                                                <img src="/img/products/1.jpg" alt="">
                                            </a>
                                        </div>
                                        <div class="col-6 p-0 ">
                                            <h4 cl>Name of product</h4>
                                            <span>18.00 - 45.00</span>
                                        </div>
                                    </div>

                                    <div class="row product align-items-center">
                                        <div class="col-6">
                                            <a href="">
                                                <img src="/img/products/1.jpg" alt="">
                                            </a>
                                        </div>
                                        <div class="col-6 p-0 ">
                                            <h4 cl>Name of product</h4>
                                            <span>18.00 - 45.00</span>
                                        </div>
                                    </div>
                                </div>
                                <!-- second finish -->

                                <div class="carousel-item">
                                    <div class="row product align-items-center">
                                        <div class="col-6">
                                            <a href="">
                                                <img src="/img/products/5.jpg" alt="">
                                            </a>
                                        </div>
                                        <div class="col-6 p-0 ">
                                            <h4 cl>Name of product</h4>
                                            <span>18.00 - 45.00</span>
                                        </div>
                                    </div>

                                    <div class="row product align-items-center">
                                        <div class="col-6">
                                            <a href="">
                                                <img src="/img/products/1.jpg" alt="">
                                            </a>
                                        </div>
                                        <div class="col-6 p-0 ">
                                            <h4 cl>Name of product</h4>
                                            <span>18.00 - 45.00</span>
                                        </div>
                                    </div>

                                    <div class="row product align-items-center">
                                        <div class="col-6">
                                            <a href="">
                                                <img src="/img/products/1.jpg" alt="">
                                            </a>
                                        </div>
                                        <div class="col-6 p-0 ">
                                            <h4 cl>Name of product</h4>
                                            <span>18.00 - 45.00</span>
                                        </div>
                                    </div>
                                </div>
                            </div>



                        </div>




                    </div>

                    <div class="col-1 align-self-center">

                        <a class="carousel-control-next " href="#carouselExampleIndicators" role="button"
                            data-slide="next">
                            <span class="carousel-control-next-icon" aria-hidden="true"></span>
                            <span class="sr-only">Next</span>
                        </a>

                    </div>


                    <!-- strelytes karuselei -->



                </div>




                <!-- container close and row -->
            </div>

            <!-- end of dar column -->

        </div>

    </div>



</section>

<section class="text-center">
    <div class="offers text-center">
        <i class="fas fa-shipping-fast fa-5x"></i>
        <h2>Free delivery when spend 20 Euros</h2>
    </div>

    <div class="offers">
        <i class="fas fa-gifts fa-5x"></i>
        <h2>Additional packaging for spending over 10 euros<h2>

    </div>

</section>