<section class="featured-section pt-4">
    <div class="container4">
        <div class="row">

            <div class="col-md-4 col-sm-12 cont">

                <a href="#" class="p-2">Latest products</a>

                <div id="carouselLatest" class="a carousel slide" data-ride="carousel">

                    <div class="carousel-inner">

                        <div class="carousel-item active ">

                            <div class="single_featured clearfix">
                                <a class="" href="#">
                                    <img src="/img/products/1.jpg" alt="">
                                </a>

                                <div class="wrap1">
                                    <div class="  wr ">
                                        <h4>Name of product</h4>
                                        <span>18.00 - 45.00</span>
                                    </div>
                                </div>

                            </div>


                            <div class="single_featured clearfix">
                                <a class="" href="#">
                                    <img src="/img/products/1.jpg" alt="">
                                </a>

                                <div class="wrap1">
                                    <div class="  wr ">
                                        <h4>Name of product</h4>
                                        <span>18.00 - 45.00</span>
                                    </div>
                                </div>
                            </div>

                            <div class="single_featured clearfix">
                                <a class="" href="#">
                                    <img src="/img/products/1.jpg" alt="">
                                </a>

                                <div class="wrap1">
                                    <div class="  wr ">
                                        <h4>Name of product</h4>
                                        <span>18.00 - 45.00</span>
                                    </div>
                                </div>

                            </div>


                        </div>
                        <div class="carousel-item ">

                            <div class="single_featured clearfix">
                                <a class="" href="#">
                                    <img src="/img/products/1.jpg" alt="">
                                </a>

                                <div class="wrap1">
                                    <div class="  wr ">
                                        <h4>Name of product</h4>
                                        <span>18.00 - 45.00</span>
                                    </div>
                                </div>

                            </div>


                            <div class="single_featured clearfix">
                                <a class="" href="#">
                                    <img src="/img/products/1.jpg" alt="">
                                </a>

                                <div class="wrap1">
                                    <div class="  wr ">
                                        <h4>Name of product</h4>
                                        <span>18.00 - 45.00</span>
                                    </div>
                                </div>
                            </div>

                            <div class="single_featured clearfix">
                                <a class="" href="#">
                                    <img src="/img/products/1.jpg" alt="">
                                </a>

                                <div class="wrap1">
                                    <div class="  wr ">
                                        <h4>Name of product</h4>
                                        <span>18.00 - 45.00</span>
                                    </div>
                                </div>

                            </div>


                        </div>
                        <div class="carousel-item ">

                            <div class="single_featured clearfix">
                                <a class="" href="#">
                                    <img src="/img/products/1.jpg" alt="">
                                </a>

                                <div class="wrap1">
                                    <div class="  wr ">
                                        <h4>Name of product</h4>
                                        <span>18.00 - 45.00</span>
                                    </div>
                                </div>

                            </div>


                            <div class="single_featured clearfix">
                                <a class="" href="#">
                                    <img src="/img/products/1.jpg" alt="">
                                </a>

                                <div class="wrap1">
                                    <div class="  wr ">
                                        <h4>Name of product</h4>
                                        <span>18.00 - 45.00</span>
                                    </div>
                                </div>
                            </div>

                            <div class="single_featured clearfix">
                                <a class="" href="#">
                                    <img src="/img/products/1.jpg" alt="">
                                </a>

                                <div class="wrap1">
                                    <div class="  wr ">
                                        <h4>Name of product</h4>
                                        <span>18.00 - 45.00</span>
                                    </div>
                                </div>

                            </div>


                        </div>

                    </div>
                    <ol class="carousel-indicators ">
                        <li data-target="#carouselLatest" data-slide-to="0" class="active"></li>
                        <li data-target="#carouselLatest" data-slide-to="1"></li>
                        <li data-target="#carouselLatest" data-slide-to="2"></li>
                    </ol>
                </div>

                <a href="#" class="p-2 d-block">More..</a>

            </div>




            <!-- strelytes karuselei -->



            <div class="col-md-4 col-sm-12 cont">

                <a href="#" class="p-2">Most popular products</a>


                <div id="carouselPopular" class="carousel slide" data-ride="carousel">


                    <div class="carousel-inner ">

                        <div class="carousel-item active">

                            <div class="single_featured clearfix">
                                <a class="" href="#">
                                    <img src="/img/products/1.jpg" alt="">
                                </a>

                                <div class="wrap1">
                                    <div class="  wr ">
                                        <h4>Name of product</h4>
                                        <span>18.00 - 45.00</span>
                                    </div>
                                </div>

                            </div>


                            <div class="single_featured clearfix">
                                <a class="" href="#">
                                    <img src="/img/products/1.jpg" alt="">
                                </a>

                                <div class="wrap1">
                                    <div class="  wr ">
                                        <h4>Name of product</h4>
                                        <span>18.00 - 45.00</span>
                                    </div>
                                </div>
                            </div>

                            <div class="single_featured clearfix">
                                <a class="" href="#">
                                    <img src="/img/products/1.jpg" alt="">
                                </a>

                                <div class="wrap1">
                                    <div class="  wr ">
                                        <h4>Name of product</h4>
                                        <span>18.00 - 45.00</span>
                                    </div>
                                </div>

                            </div>

                        </div>

                        <div class="carousel-item ">

                            <div class="single_featured clearfix">
                                <a class="" href="#">
                                    <img src="/img/products/1.jpg" alt="">
                                </a>

                                <div class="wrap1">
                                    <div class="  wr ">
                                        <h4>Name of product</h4>
                                        <span>18.00 - 45.00</span>
                                    </div>
                                </div>

                            </div>


                            <div class="single_featured clearfix">
                                <a class="" href="#">
                                    <img src="/img/products/1.jpg" alt="">
                                </a>

                                <div class="wrap1">
                                    <div class="  wr ">
                                        <h4>Name of product</h4>
                                        <span>18.00 - 45.00</span>
                                    </div>
                                </div>
                            </div>

                            <div class="single_featured clearfix">
                                <a class="" href="#">
                                    <img src="/img/products/1.jpg" alt="">
                                </a>

                                <div class="wrap1">
                                    <div class="  wr ">
                                        <h4>Name of product</h4>
                                        <span>18.00 - 45.00</span>
                                    </div>
                                </div>

                            </div>


                        </div>
                        <div class="carousel-item ">

                            <div class="single_featured clearfix">
                                <a class="" href="#">
                                    <img src="/img/products/1.jpg" alt="">
                                </a>

                                <div class="wrap1">
                                    <div class="  wr ">
                                        <h4>Name of product</h4>
                                        <span>18.00 - 45.00</span>
                                    </div>
                                </div>

                            </div>


                            <div class="single_featured clearfix">
                                <a class="" href="#">
                                    <img src="/img/products/1.jpg" alt="">
                                </a>

                                <div class="wrap1">
                                    <div class="  wr ">
                                        <h4>Name of product</h4>
                                        <span>18.00 - 45.00</span>
                                    </div>
                                </div>
                            </div>

                            <div class="single_featured clearfix">
                                <a class="" href="#">
                                    <img src="/img/products/1.jpg" alt="">
                                </a>

                                <div class="wrap1">
                                    <div class="  wr ">
                                        <h4>Name of product</h4>
                                        <span>18.00 - 45.00</span>
                                    </div>
                                </div>

                            </div>


                        </div>



                        <!-- one finish -->


                    </div>

                    <ol class="carousel-indicators">
                        <li data-target="#carouselPopular" data-slide-to="0" class="active"></li>
                        <li data-target="#carouselPopular" data-slide-to="1"></li>
                        <li data-target="#carouselPopular" data-slide-to="2"></li>
                    </ol>

                </div>


                <a href="#" class="p-2 d-block">More..</a>

            </div>


            <div class="col-md-4 col-sm-12 cont">

                <a href="#" class="p-2">Sale</a>


                <div id="carouselSale" class="carousel slide" data-ride="carousel">


                    <div class="carousel-inner ">

                        <div class="carousel-item active">

                            <div class="single_featured clearfix">
                                <a class="" href="#">
                                    <img src="/img/products/1.jpg" alt="">
                                </a>

                                <div class="wrap1">
                                    <div class="  wr ">
                                        <h4>Name of product</h4>
                                        <span>18.00 - 45.00</span>
                                    </div>
                                </div>

                            </div>


                            <div class="single_featured clearfix">
                                <a class="" href="#">
                                    <img src="/img/products/1.jpg" alt="">
                                </a>

                                <div class="wrap1">
                                    <div class="  wr ">
                                        <h4>Name of product</h4>
                                        <span>18.00 - 45.00</span>
                                    </div>
                                </div>
                            </div>

                            <div class="single_featured clearfix">
                                <a class="" href="#">
                                    <img src="/img/products/1.jpg" alt="">
                                </a>

                                <div class="wrap1">
                                    <div class="  wr ">
                                        <h4>Name of product</h4>
                                        <span>18.00 - 45.00</span>
                                    </div>
                                </div>

                            </div>

                        </div>

                        <div class="carousel-item ">

                            <div class="single_featured clearfix">
                                <a class="" href="#">
                                    <img src="/img/products/1.jpg" alt="">
                                </a>

                                <div class="wrap1">
                                    <div class="  wr ">
                                        <h4>Name of product</h4>
                                        <span>18.00 - 45.00</span>
                                    </div>
                                </div>

                            </div>


                            <div class="single_featured clearfix">
                                <a class="" href="#">
                                    <img src="/img/products/1.jpg" alt="">
                                </a>

                                <div class="wrap1">
                                    <div class="  wr ">
                                        <h4>Name of product</h4>
                                        <span>18.00 - 45.00</span>
                                    </div>
                                </div>
                            </div>

                            <div class="single_featured clearfix">
                                <a class="" href="#">
                                    <img src="/img/products/1.jpg" alt="">
                                </a>

                                <div class="wrap1">
                                    <div class="  wr ">
                                        <h4>Name of product</h4>
                                        <span>18.00 - 45.00</span>
                                    </div>
                                </div>

                            </div>


                        </div>
                        <div class="carousel-item ">

                            <div class="single_featured clearfix">
                                <a class="" href="#">
                                    <img src="/img/products/1.jpg" alt="">
                                </a>

                                <div class="wrap1">
                                    <div class="  wr ">
                                        <h4>Name of product</h4>
                                        <span>18.00 - 45.00</span>
                                    </div>
                                </div>

                            </div>


                            <div class="single_featured clearfix">
                                <a class="" href="#">
                                    <img src="/img/products/1.jpg" alt="">
                                </a>

                                <div class="wrap1">
                                    <div class="  wr ">
                                        <h4>Name of product</h4>
                                        <span>18.00 - 45.00</span>
                                    </div>
                                </div>
                            </div>

                            <div class="single_featured clearfix">
                                <a class="" href="#">
                                    <img src="/img/products/1.jpg" alt="">
                                </a>

                                <div class="wrap1">
                                    <div class="  wr ">
                                        <h4>Name of product</h4>
                                        <span>18.00 - 45.00</span>
                                    </div>
                                </div>

                            </div>


                        </div>


                        <!-- one finish -->

                    </div>

                    <ol class="carousel-indicators">
                        <li data-target="#carouselSale" data-slide-to="0" class="active"></li>
                        <li data-target="#carouselSale" data-slide-to="1"></li>
                        <li data-target="#carouselSale" data-slide-to="2"></li>
                    </ol>

                </div>
                <a href="#" class="p-2 d-block">More..</a>


            </div>

            <!-- container close and row -->






            <!-- end dar column -->





            <!-- end of dar column -->

        </div>

    </div>



</section>

<section class="text-center row justify-content-center p-5">
    <div class="offers text-center mr-5">
        <i class="fas fa-shipping-fast fa-5x"></i>
        <h2>Free delivery when spend 20 Euros</h2>
    </div>

    <div class="offers">
        <i class="fas fa-gifts fa-5x"></i>
        <h2>Additional packaging for spending over 10 euros<h2>

    </div>

</section>