

<footer>
<div class="container">
    <div class="row">

        
        <div class="col-sm">
            <span>Shop</span>
            <br>
            <span>By Type</span>
            <ul>
                <li>
                    <a href="/">Earings</a> 
                </li>
                    
                <li>
                    <a href="/">Necklaces</a>
                </li>
                   
                <li>
                    <a href="/">Bracelets</a>
                </li>
                <li>
                    <a href="/">Rings</a>
                </li>
            <ul>
                <li>
                    <a href="/">Bracelets</a>
                </li>
                <li>
                    <a href="/">Rings</a>
                </li>    
                    
            </ul>
                
            </ul>
        </div>
        <div class="col-sm">
            <span>About</span>
            <br>
            <ul>
                <li>
                    <a href="/">Designers</a> 
                </li>
                    <a href="/">Contact Us</a> 
                <li>
                    <a href="/">Policy</a>
                </li>
                    <a href="/">Shipping & Returns</a>
                <li>
                    <a href="/"></a>
                </li>
                <li>
                    <a href="/">Delivery</a>
                </li>
                <li>
                    <a href="/">Delivery</a>
                </li>
                
            </ul>
        </div>
        <div class="col-sm">
            <span>Night Tide</span>
            <br>
            <ul>
                <li>
                    <a href="/">Designers</a> 
                </li>
                    <a href="/">Contact</a> 
                <li>
                    <a href="/">Policy</a>
                </li>
                    <a href="/">Shipping & Returns</a>
                <li>
                    <a href="/"></a>
                </li>
                <li>
                    <a href="/">Delivery</a>
                </li>
                <li>
                    <a href="/">Delivery</a>
                </li>
                
            </ul>
        </div>
        

                
        <div class="col-sm iconsai">
            <span>Contact</span>
            <br>
            <i class="fab fa-facebook-messenger"></i>
            <i class="far fa-envelope"></i>
            <br>
        
            <span>Follow Night Tide!</span>
            <br>
            <i class="fab fa-facebook-square"></i>
            <i class="fab fa-instagram"></i>
            <br>
            <span>Payments</span>
            <br>
            
        <i class="fa fa-lock fa-lg"></i>
        <i class="fab fa-cc-paypal"></i>
        <i class="fab fa-cc-mastercard"></i>
        <i class="fab fa-cc-visa"></i>

        </div>
    </div>
    
    
    
</div>
</footer>



<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
<script src="./js/slideshow.js"></script>
<script src="./js/scroll.js"></script>
<script src="./js\ajax_product_call.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jcarousel/0.3.9/jquery.jcarousel-autoscroll.js"></script>
<script src="./js\featured_section.js"></script>

</html>
    
