<!DOCTYPE html>

<html>

<head>
    <title>Night Tide accesories</title>
    <!-- <base href="/"> -->
    <link rel="icon" type="image/ico" href="/img\logos.png" />
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.3/css/all.css"
        integrity="sha384-UHRtZLI+pbxtHCWp1t77Bi1L4ZtiqrqD80Kn4Z8NTSRyMA2Fd33n5dQ8lWUE00s/" crossorigin="anonymous">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link href="/css/styles.css" type="text/css" rel="stylesheet">
    <link rel="stylesheet" href="../../public\css\styles.css" type="text/css">
    <link href="https://fonts.googleapis.com/css?family=Oswald" rel="stylesheet">
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
        integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
        crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
        integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
        crossorigin="anonymous"></script>

    <meta name="viewport" content="width=device-width, initial-scale=1.0">

<body>
    <!--<div class="LTOP">-->
    <!--    <a id="log" href="/"><img class="topLogo d-block d-sm-none" src="./img/nightLogo.jpg"></a>-->
    <!--</div>-->


    <nav>

        <!--<i class="fas fa-flag fa-1x pt-2" style="position:relative; color:white;"></i>-->
        <div class='container'>
            <div class='row'>
                <div class='col-4 '>
                    <ul class="navbar nav">
                        <li class=""><a class="btn text-white" href="/products">Earings</a></li>
                        <li class=""><a class="btn text-white" href="/products/pearls">Necklaces</a></li>
                        <li class=""><a class="btn text-white" href="/about">Bracelets</a></li>
                        <li class=""><a class="btn text-white" href="/about">Rings</a></li>
                        <div class="row">
                            
                            <div class="col dropdown">
                                <button class="btn Recommended btn-secondary dropdown-toggle" type="button"
                                    id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true"
                                    aria-expanded="false">
                                    Recommended
                                </button>

                            </div>

                        </div>
                    </ul>

                </div>

                <!-- LOGO PART -->
                <div class="col-4 logo align-self-center">
                    <a class="logos d-inline-block" href="/">NIGHTTID<div class="letterE"></div>
                        <!-- <img  src="/img/nightLogo.jpg" class="logo"  alt=""> -->
                    </a>
                </div>

                <!-- RIGHT PART -->

                <div class="col-4 align-self-center justify-content-between ">
                    <div class="right-part row ">
                        <div class="col-auto">
                            <a href="/checkout" class="chart text-white d-inline-block" quantity="0">
                                <i class="fas fa-shopping-cart fa-2x"></i>
                            </a>
                        </div>
                        <div class="col-auto">
                            <form class="row form-inline text-white" action="/action_page.php" method="get"
                                id="nameform">

                                <button class="" type="submit" form="nameform" value="Submit">
                                    <i class="fas fa-search fa-2x"></i>
                                </button>
                                <input class="form-control" name="" autocomplete="on" autocorrect="off"
                                    spellcheck="false" placeholder="Search for accesories!" type="text"
                                    aria-label="Search">


                            </form>
                        </div>
                        <div class="relative align-self-center ">
                        <div class="col-auto leave pl-0  ">
                                    <a href="/en" class="d-block language" link='EN'>
                                        <i class="fas fa-flag fa-2x text-white d-inline-block"></i>
                                        <i class="fas fa-angle-right text-white"></i>
                                    </a>
                        </div>

                        <div class="selectLang p-0 ">
                            <a class="text-white" href="#">DK</a>
                            <a class="text-white" href="#">LT</a>
                            <a class="text-white" href="#">RU</a>
                        </div>
                    </div>
                    </div>
                </div>

            </div>
        </div>

        <!-- recomended skiltis -->
        <div class="row hidint">
            <div class="col">
                <a><img src="/img/11.jpg" class="w-100"></a>
            </div>
            <div class="col">
                <a> <img src="./img/44.jpg" class="w-100"></a>
            </div>
            <div class="col">
                <a> <img src="./img/33.jpg" class="w-100"></a>
            </div>
            <div class="col">
                <a> <img src="./img/55.jpg" class="w-100"></a>
            </div>
            <div class="col">
                <a> <img src="./img/22.jpg" class="w-100"></a>
            </div>
        </div>

    </nav>