<% include ./partials/header.ejs %>


<!-- <div id="timer">
    <div class="top">
      <img src="img/timer.png" />
    </div>
    <div class="bottom">
      <img src="img/timer.png" />
    </div>
  </div>
  <a id="play" href="#"></a> -->


<!--jumbotron-->

<div class="jumbotron p-4 ">
  <div class="container">
    <h1 class="display-4 ">Welcome to Night Tide Accesories store!
    </h1>
    <p>Find the gift for your loved one</p>
  </div>
</div>


<a href="#" class="to-top"></a>  


<!-- Container for the image gallery -->
<div class="container mainGallery ">
  <div class="row no-gutters">
    <div class="col-2 col-md-1  offset-md-2">

      <div class="d-flex  flex-column">
        <img class="demo  cursor" src="/img/1.jpg" style="width:100%" onclick="currentSlide(1)" alt="The Woods">
        <img class="demo cursor" src="/img/2.jpg" style="width:100%" onclick="currentSlide(2)" alt="Cinque Terre">
        <img class="demo cursor" src="/img/3.jpg" style="width:100%" onclick="currentSlide(3)" alt="Mountains ">
        <img class="demo cursor" src="/img/1.jpg" style="width:100%" onclick="currentSlide(4)" alt="Northern Lights">
        <img class="demo cursor" src="/img/3.jpg" style="width:100%" onclick="currentSlide(6)" alt="Snowy Mountains">
      </div>

    </div>


    <div class="col-10  col-md-7">
      <!-- Full-width images with number text -->
      <div class="mySlides">

        <img src="/img/1.jpg" style="width:100%">
        <div class="carousel-caption d-none d-md-block">
          <h5>First slide label</h5>
          <p>Nulla vitae elit libero, a pharetra augue mollis interdum.</p>
        </div>
      </div>

      <div class="mySlides">

        <img src="/img/2.jpg" style="width:100%">
        <div class="carousel-caption d-none d-md-block">
          <h5>First slide label</h5>
          <p>Nulla vitae elit libero, a pharetra augue mollis interdum.</p>
        </div>
      </div>

      <div class="mySlides">

        <img src="/img/3.jpg" style="width:100%">

        <div class="carousel-caption d-none d-md-block">
          <h5>First slide label</h5>
          <p>Nulla vitae elit libero, a pharetra augue mollis interdum.</p>
        </div>
      </div>


      <!-- Next and previous buttons -->
      <!-- <a class="prev align-middle" onclick="plusSlides(-1)">&#10094;</a>
      <a class="next align-self-center" onclick="plusSlides(1)">&#10095;</a> -->


    </div>
    <!-- Thumbnail images -->


  </div>
</div>
</div>



<% include ./partials/featured_section.ejs %>

<% include partials/footer %>