<!DOCTYPE html>

<html>
    <head>
        <title>Night Tide accesories</title>
        <!-- <base href="/"> -->
        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.3/css/all.css" integrity="sha384-UHRtZLI+pbxtHCWp1t77Bi1L4ZtiqrqD80Kn4Z8NTSRyMA2Fd33n5dQ8lWUE00s/" crossorigin="anonymous">
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">        
        <link rel="stylesheet" href="../../public\css\styles.css">
        <link href="https://fonts.googleapis.com/css?family=Oswald" rel="stylesheet">

        <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>    

<body>



<div class="container p-5 single">
    <div class="row">
        <div class="col-5">
                <img class="w-100" src="/img/products/1.jpg" alt="Earingfly">

        </div>


        <div class="col-7">
            <h1>Pearls on the water</h1>
            <span class="">&euro;</span><span class="">5</span>
  

            <input type="number" id="quantity_5cbbfeafb593d" 
            class="w-25" step="1" min="1" max="" 
            name="quantity" value="1" title="Qty" size="4" pattern="[0-9]*" 
            inputmode="numeric" aria-labelledby="Beanie quantity">
            <button class="btn btn-primary"><i class="fas fa-plus"></i> ADD</button>
            <br>

            <span>Category:</span> <a href="#">Earing</a>
            

            <p>Here is an description of the product:
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Pariatur ratione similique eaque voluptates debitis maxime. Accusantium ab magni dolores dolore perspiciatis necessitatibus et! Molestias excepturi, ratione incidunt alias nulla odio?
            </p>

            
            <!-- <a href="javascript:document.getElementById('single-content').style.display='none';">X</a> -->
            <button onclick="close()">CLOSE</button>
        </div>



    </div>
 



</div>


</body>


<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
<script src="./js/slideshow.js"></script>
<script src="./js/scroll.js"></script>
<script src="./js\ajax_product_call.js"></script>


</html>