nav {
  background-color: $first-color;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 100;
  ul {
    float: left;
    li {
      display: inline-block;
      text-transform: uppercase;
      font-weight: bold;
    }
  }

  .logo {
    text-align: center;
    font-stretch: extra-expanded;

    .logos {
      font-family: "Oswald", sans-serif;
      font-size: 40px;
      color: white;
      letter-spacing: 2px;
      text-decoration: none;
      margin-bottom: 5px;
      padding: 10px;
    }

    div.letterE {
      // border-radius: 2px;
      position: relative;
      height: 32px; // pagal sita yra skaiciuojamas auksti before ir after
      width: 19px;
      margin-top: 10px;

      background: white;

      display: inline-block;

      &::before,
      &::after {
        display: inline-block;
        // background: red;
        background: $first-color;
        height: calc(32px / 5);
        width: 20px;
        position: absolute;
        content: "";
        left: 0;
      }

      &::before {
        top: calc(32px / 5);
      }
      &::after {
        bottom: calc(32px / 5);
      }
    }
  }

  .right-part {
    .chart {
      &:first-child {
        position: relative;
        &::after {
          position: absolute;
          content: attr(quantity);
          top: 4px;
          left: 17px;
          color: $first-color;
          font-weight: bold;
        }
      }
    }
    .language {
      position: relative;
      color: $first-color;
      margin-left: 5px;
      &::after {
        content: attr(link);
        color: $first-color;
        display: block;
        position: absolute;
        top: 50%;
        left: 50%;
        margin-top: -10px;
        margin-left: -10px;
      }

      i {
        &:last-child {
          position: absolute;
          margin-top: 10px;
          margin-left: 3px;
        }
      }
    }
  }

  form {
    input[type="text"] {
      padding: 5px;
    }
    button {
      background: $first-color;
      outline: none;
      border: none;
      color: white;
    }
  }



  .relative{
    // background: red;
    position: relative;
  }

  .selectLang{
    // font-size: 15px;
    // margin-bottom: 5px;
    position: absolute;
    top: 0;
    margin-top: -5px;
    left: 50px;
    // padding-left: 5px;
    width: 30px;
  }
}

@media (min-width: 768px) {
  .container {
    max-width: 100%;
  }
}

@media (min-width: 992px) {
  .container {
    max-width: 1300px;
  }
}


.hidint{
  transition: cubic-bezier(0.19, 1, 0.22, 1);
}

