
nav{
    background-color: $first-color;
    position: relative;
    ul{
        float: left;
        li{
            display: inline-block;
        a{

        }
        }
    }

}

.fas{
    color:white;
}

.logo{
    height: 50px;
    width: 205px;
}









  .jumbotron-fluid{
    height: 100px;
    padding-top: 10px;
  }
  

  
  /*footer*/
  



div {
  .carousel-item {
      img {
          width: 700px ;
          height: 500px;
          border-radius: 30px;
  } 
  } 
}


.mano{
  text-align: center;

}




