nav{
    background-color: $first-color;
    position: relative;
    ul{
        float: left;
        li{
            display: inline-block;
        a{

        }
        }
    }

}


 



.asd{
  text-align: center;
  font-stretch: extra-expanded;

  .logos{
    font-family: 'Oswald', sans-serif;
    // font-weight: 900;
    font-size: 40px;
    color: white;
    letter-spacing: 2px;
    text-decoration: none;
  
  }



    div.letterE{
      // border-radius: 2px;
      position: relative;
      height: 32px; // pagal sita yra skaiciuojamas auksti before ir after
      width: 19px;
      margin-top: 10px;
     
      background: white;
      
      display: inline-block;

      &::before,
      &::after {
        display: inline-block;
        // background: red;
        background: $first-color;
        height: calc( 32px / 5 );
        width: 20px;
        position: absolute;
        content: '';
        left: 0;

     
      }
      
     &::before{

        top: calc( 32px / 5 );
      }
      &::after{

        bottom: calc( 32px / 5 ) ;       
      }
      a{
        display: block;
        padding: 0;
        margin: 0;
        color: red;
        text-decoration: none;


    }


     
    }
}







