.featured-section {
  * {
    color: white;
  }
  background: $first-color;
  padding: 0;
  padding-bottom: 30px;

  .cont {
    text-align: center;
    border-right: 2px solid grey;
    &:last-child {
      border-right: none;
    }

    a {
      font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
      text-decoration: none;
      &:hover {
        color: $golden-color;
      }
    }
  }

  .carousel-inner {
    height: 580px;
  }

  .carousel-indicators {
    position: static;
    list-style: none;
    li {
      height: 5px;
      width: 30%;
    }
  }

  .carousel-item {
    img {
      height: 160px;
      width: 160px;
    }

    .single_featured {
      text-align: center;
      margin-top: 25px;
      margin-bottom: 20px;

      .wrap1 {
        height: 160px;
        justify-content: center;
        display: flex;
      }
      .wr {
        align-self: center;
        span {
          display: block;
          align-items: center;
        }
      }

      a {
        float: left;
      }
    }
  }

  // end of carousel

  .offers {
    padding: 50px;
    display: inline-block;
    i {
      &:last-child {
        margin-right: 0;
      }
    }
    div {
      display: inline-block;
    }
  }

  // ::-webkit-scrollbar {
  //     display: none;
  // }

  // try
}
