
.featured-section{

    *{
        color: white;
    }
    
    background: $first-color;
    padding: 0;
    margin-bottom: 50px;
    


    a{
        display: inline-block;
       font-weight: 900;
        width: 100%;
        // padding: 20px;
    }

    .product{
        
        margin-top: 25px;
        margin-bottom: 20px;

    img{
        // display: inline-block;
        width: 100%;
    }


}

}