.featured-section {
  * {
    color: white;
  }
  background: $first-color;
  padding: 0;
  padding-bottom: 30px;



.carousel-inner{
  height: 580px;
}
  .carousel-indicators {
    position: static;
 
    list-style: none;
}

  .carousel-item {
    img {
      height: 160px;
      width: 160px;
    }

   


  .single_featured{
    text-align: center; 
    margin-top: 25px;
    margin-bottom: 20px;

    .wrap1{
      height: 160px;
      // width: 100%;
      // float: right;
      justify-content: center;

      display: flex;
    }
    .wr{
      // display: flex;
      align-self: center;
      span{
        display:block;
        align-items: center;

      }
    }


    .center {
      height: 200px;
      position: relative;
      border: 3px solid green;
    }
    
    .center p {
      margin: 0;
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
    }
  
    a{
      float: left;
      font-weight: 900;

    }
  }


}


// end of carousel

.offers{
  padding: 50px;
  display: inline-block;
  i{
    &:last-child{
      margin-right:0;
    }
  }
  div{
    display:inline-block;
  }
}


// ::-webkit-scrollbar {
//     display: none;
// }

// try
}