.jumbotron {
  text-align: center;
  font-family: cursive;
}

/* Add a pointer   when hovering over the thumbnail images */
.cursor {
  cursor: pointer;
}

/* Next & previous buttons */
.prev,
.next {
  cursor: pointer;
  position: absolute;
  top: 40%;
  width: auto;
  padding: 16px;
  margin-top: -50px;
  color: white;
  font-weight: bold;
  font-size: 20px;
  border-radius: 0 3px 3px 0;
  user-select: none;
  -webkit-user-select: none;
}

/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover,
.next:hover {
  background-color: rgba(0, 0, 0, 0.8);
}

/* Number text (1/3 etc) */
.numbertext {
  color: #f2f2f2;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}

/* Container for image text */
.caption-container {
  text-align: center;
  background-color: #222;
  padding: 2px 16px;
  color: white;
}

/* Six columns side by side */

.mainGallery {
  /* Add a transparency effect for thumnbail images */
  height: $landingCarouselHeight;
  margin-bottom: 50px;
 
  .row {
    height: $landingCarouselHeight;
  }

  /* Hide the images by default */
  .mySlides {
    display: none;
    img{
      height: $landingCarouselHeight*0.9;
     
    }
  }

  .demo {
    opacity: 0.6; 
    width: 100%;
    height: 100px ;
  }

  .active,
  .demo:hover {
    opacity: 1;
  }



  .carousel-caption{
    color: rgb(0, 0, 0);
    font-size: 30px;
    z-index: 100;
  }

  .mySlides {
    img {
      width: 100%;
      // height: 600px;
      // height: auto;
      // max-height: 600px;
    }
  }

  #timer,
  #play {
    position: absolute;
    top: 50%;
    left: 50%;
    z-index: 2;
    opacity: 0.2;
    transition: opacity 0.5s ease;
  }

  #timer {
    width: 150px;
    height: 150px;
    margin: -75px 0 0 -75px;
  }
  #timer .top,
  #timer .bottom {
    width: 150px;
    height: 75px;
    overflow: hidden;
  }
  #timer .bottom img {
    margin-top: -76px;
    transform: rotate(180deg);
  }

  #play {
    border: 20px solid transparent;
    border-left: 30px solid red;
    width: 0;
    height: 0;
    margin: -20px 0 0 -10px;
  }
  #play.paused {
    border: 10px solid red;
    border-top: none;
    border-bottom: none;
    width: 10px;
    height: 36px;
    margin: -18px 0 0 -14px;
  }
  #wrapper:hover #timer,
  #wrapper:hover #play {
    opacity: 0.7;
  }
}
