.single-main {
  position: absolute;
  z-index: 2000;
  top: 50%; /* position the top  edge of the element at the middle of the parent */
  left: 50%; /* position the left edge of the element at the middle of the parent */

  transform: translate(-50%, -50%);
  background: rgba(0, 0, 0, 0.8);
}

.single {
  color: white;

  hr {
    background: #8f8072;
  }

  .btn-outline-secondary {
    border-color: #8f8072;
  }

  .mySlides {
    img {
      &:not(:first-child) {
        display: none;
      }
    }
  }

  i {
    color: white;
    font-size: 30px;
  }

  .side {
    height: 310px;
    overflow: scroll;
    position: relative;
    img {
      height: 70px;
    }
  }

  h1 {
    font-family: "Indie Flower", cursive;
    position: relative;
    font-family: "Permanent Marker", cursive;
    font-family: "Satisfy", cursive;
    font-family: "Courgette", cursive;
    font-family: "Kalam", cursive;
    font-family: "Kaushan Script", cursive;
    span {
      position: absolute;
      right: 0;
      font-size: 40px;
      font-family: "Roboto", sans-serif;
    }

    font-size: 40px;
  }

  h2 {
    margin-top: 40px;
    font-family: "Kalam", cursive;
    font-weight: 700;
  }

  p {
    font-family: Helvetica, Arial, sans-serif;
    font-size: 13px;
  }

  .btn-group {
    margin-top: 50px;

    svg {
      fill: white;
    }

    a {
      color: white;
    }

    button {
      // color: black;
      color: white;
      font-size: 20px;
    }
  }

  // carousel

  .productPhoto {
    &:not(:first-child) {
      display: none;
    }
  }

  .cursor {
    &:not(:first-child) {
      opacity: 0.6;
    }
  }
}

.to-top {
  color: black;
  padding-top: 1.8em;
  display: inline-block; /* or block */
  position: relative;
  bottom: 50px;
  right: 50px;
  position: fixed;
  border-color: white;
  text-decoration: none;
  transition: all 0.3s ease-out;
}
.to-top:before {
  content: "▲";
  font-size: 0.9em;
  position: absolute;
  top: 0;
  left: 50%;
  margin-left: -0.7em;
  border: solid 0.13em white;
  border-radius: 10em;
  width: 1.4em;
  height: 1.4em;
  line-height: 1.3em;
  border-color: inherit;
  transition: transform 0.5s ease-in;
}
.to-top:hover {
  color: pink;
  border-color: pink;
}
.to-top:hover:before {
  transform: rotate(360deg);
}

.arrow {
  background-color: white;
  border: solid black;
  border-width: 0 8px 8px 0;
  display: inline-block;
  padding: 8px;
  left: 50%;
}

.down {
  margin-left: -12px;
  position: absolute;
  transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
}

.up {
  margin-left: -12px;
  margin-top: -10px;
  position: absolute;
  transform: rotate(-135deg);
  -webkit-transform: rotate(-135deg);
}

// .arrow {
//   cursor: pointer;
//   height: 25px;
//   // left: 50%;
//   position: absolute;
//   // top: 50%;
//   transform: translateX(-50%) translateY(-50%);
//   transition: transform 0.1s;
//   width: 40px;

//   &-top,
//   &-bottom {
//     background-color: #666;
//     height: 100%;
//     left: -5px;
//     position: absolute;
//     top: 50%;
//     width: 4px;
//   }

//   &-top {
//     transform: rotate(45deg);
//     transform-origin: top right;
//   }

//   &-bottom {
//     transform: rotate(-45deg);
//     transform-origin: top right;
//   }
// }

::-webkit-scrollbar {
  display: none;
}
